<!-- ======= Our method ======= -->
<section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">Asesoría previa</a></h4>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <p class="title">Mentoría de comunicación</p>
                    <!-- <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui </p> -->
                </div>
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">Grabación</a></h4>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">Edición</a></h4>
                </div>
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">Implementación en academia online</a></h4>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">Cápsulas para promoción en RRSS</a></h4>
                </div>

            </div>
            <div class="col-lg-6">
                <img src="assets/img/grabacio2.jpg" class="img-fluid" alt="Estudio recording">
            </div>
        </div>

    </div>
</section><!-- End Our method -->